{% extends "layout.html" %}
{% block style %} 
    <style>
        .error-404 {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 25px auto;
        }
        .error-img {
            height: 600px;
        }    
    </style>  
{% endblock style %}
{% block content %}
        <div class="error-404">
            <img class="error-img" src="https://i.gifer.com/7iJR.gif" alt="404">
            <div class="text-404">Ooops... Page not found! ;(</div>
        </div>
{% endblock content %}
